@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #001932;
  background-color: #f3b2e8;
}

.container {
  height: 100vh;
}

.wrapper {
  width: 400px;
}

button {
  padding: 20px;
  color: #fff;
  background-color: hotpink;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  user-select: none;
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  color: #fff;
  background-color: #f100bd;
}

button:active {
  color: #fff;
  background-color: #f100bd;
}

.flex-row {
  flex-basis: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 6rem;
  color: purple;
  padding: 0;
  margin: 0;
}

.happy {
  color: #f100bd; 
  padding: 0; 
}

h2 {
  color: rgb(219, 127, 219);
}