@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #07A0C3;
  background-color: #E1E2EF;
}

.container {
  height: 100vh;
}

.wrapper {
  width: 400px;
  
}

button {
  padding: 12px;
  color: #fff;
  background-color: #9067C6;
  border: 10px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
  min-width: 100px;
  min-height: 100px;
  user-select: none;
  outline:none;
}

button:hover {
  color: #fff;
  background-color: #B16796;
  border-radius: 50%;
}

button:active {
  color: #fff;
  background-color: #9067C6;
}

.flex-row {
  flex-basis: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

